/*
  CSS file for Building_Services.html
*/








body {
font-family: 'Lato', sans-serif;
line-height: 24px;
background-color: #8efffc;

}



p {
font-family: 'Lato', sans-serif;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}



h2{
 
font-family: 'Cherry Cream Soda', cursive;
font-size: 2em;
font-weight: bold;
padding-bottom: 5px;

color: #5c2d50;
;


}

h1{
font-family: 'Cherry Cream Soda', cursive;
font-size: 3em;

color: #d40e52}

h3{
color: #cd1719;
font-family: 'Cookie', cursive;
font-size: 3em;


}




